.card {
    display: grid;
    width: 1fr;
    height: min-content;
}

.cardImage {
    width: 100%;
}

.cardName {

}

.cardDescription {
    color: #BEBEBE;
    font-size: 0.6rem;
}

.cardMeta {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    font-size: 0.7rem;
}

.cardMeta > span{
    color: #BEBEBE;
}



